html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 5%);
}
canvas {
  display: block;
  align-self: center;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
